<div class="container">
  <div class="w-50 m-auto">
    <div class="row mt-5">
      <div class="col col-6"><button class="w-100 btn btn-secondary" (click)="SetTimer(1500)">25 Mins</button></div>
      <div class="col col-6"><button class="w-100 btn btn-secondary" (click)="SetTimer(3000)">50 Mins</button></div>
    </div>
    <div class="row mt-5 border p-4 timer-display">
      <h2 class="text-center">{{FormatMinutes}} : {{FormatSeconds}}</h2>
    </div>
    <div class="row mt-5">
      <div class="col col-4"><button class="btn btn-success w-100" (click)="startTimer()"> Start </button></div>
      <div class="col col-4"><button class="btn btn-danger w-100" (click)="stopTimer()"> Stop </button></div>
      <div class="col col-4"><button class="btn btn-primary w-100" (click)="resetTimer()"> Reset </button></div>
    </div>
  </div>
</div>
